@use "global" as *;

.bl_cta {
  background-color: $main-color;
  padding: rem(48) 0 rem(68) 0;
  overflow: hidden;
  position: relative;
}

.bl_cta::after {
  position: absolute;
  background-image: url(../images/common/cta_circle_medium.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: rem(53);
  max-width: rem(53);
  right: -4%;
  top: 80%;
  width: 100%;
  @include mq(md){
    max-width: rem(136);
    height: rem(136);
    right: calc(50% - min(51vw, 45.4rem));
    top: 17%;
  }
}

.bl_cta::before {
  position: absolute;
  background-image: url(../images/common/cta_circle_big.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: rem(85);
  max-width: rem(85);
  top: 8%;
  width: 100%;
  left: calc(50% - min(56vw, 48.4rem));
  @include mq(md){
    max-width: rem(224);
    height: rem(224);
    left: calc(50% - min(54vw, 48.4rem));
  }
  @media (max-width: 1240px) and (min-width: 1200px) {
    max-width: rem(213);
    height: rem(213);
  }
  @media (max-width: 1199px) and (min-width: 1100px) {
    left: calc(50% - min(55vw, 48.4rem));
    max-width: rem(193);
    height: rem(193);
  }
  @media (max-width: 1099px) and (min-width: 767px) {
    left: calc(50% - min(57vw, 48.4rem));
    max-width: rem(177);
    height: rem(177);
  }
}

.bl_cta .el_sec_mainTtl {
  margin-bottom: rem(16);
  @include mq(md){
    margin-bottom: rem(24);
  }
}

.bl_cta_txt {
  text-align: center;
  font-size: rem(16);
  margin-bottom: rem(32);
  @include mq(md){
    margin-bottom: rem(80);
  }
}

.bl_cta_txt::before {
  position: absolute;
  background-image: url(../images/common/cta_circle_small.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: rem(40);
  max-width: rem(40);
  top: 8%;
  left: 8%;
  width: 100%;
  @include mq(md){
    max-width: rem(107);
    height: rem(107);
    left: calc(50% - min(40vw, 48.4rem));
  }
  @media (min-width: 1800px) {
    left: calc(57% - min(40vw, 48.4rem));
  }
  @media (max-width: 1240px) and (min-width: 1200px) {
    left: calc(50% - min(41vw, 48.4rem));
    height: rem(100);
    max-width: rem(100);
  }
  @media (max-width: 1199px) and (min-width: 767px) {
    left: calc(50% - min(43vw, 48.4rem));
    height: rem(95);
    max-width: rem(95);
  }
  @media (max-width: 766px) and (min-width: 540px) {
    left: 4%;
  }
}