@use "global" as *;

.el_btn {
  display: inline-block;
  padding: rem(14) rem(24);
  background-color: $accent-color-light;
  color: #000;
  font-size: rem(18);
  letter-spacing: 1.44px;
  border-radius: rem(32);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @include mq(md){
    font-size: rem(24);
    letter-spacing: 1.92px;
    padding: rem(22) rem(82);
  }
}

//modifier
.el_btn__rounded {
  @include mq(md){
    padding: rem(26) rem(83) rem(26) rem(83);
  }
  @media (max-width: 1000px) and (min-width: 767px) {
    white-space: nowrap;
  }
}

.el_btn__tel {
  border-radius: rem(30);
  border: 4px solid $accent-color-dark;
  color: $text-color;
  font-weight: $bold;
  font-size: rem(20);
  background-color: $main-color;
  padding: rem(10) rem(24.62) rem(15.77) rem(65);
  position: relative;
  @include mq(md){
    font-size: rem(32);
    padding: rem(17) rem(68) rem(17) rem(140);
  }
  @media (max-width: 1000px) and (min-width: 767px) {
    white-space: nowrap;
  }
}

.el_btn__tel::before {
  position: absolute;
  background-image: url(../images/common/btn_tel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: rem(24);
  max-width: rem(24);
  width: 100%;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  @include mq(md){
    height: rem(40);
    max-width: rem(40);
    left: 20%;
  }
}